<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
         rel="shortcut icon"
         href="{{ url_for('static', filename='images/asgr.png') }}"
         type="image/x-icon"
      />
      <link
         rel="stylesheet"
         type="text/css"
         href="{{ url_for('static',filename='bootstrap/bootstrap.min.css') }}"
      />
      <script src="{{ url_for('static',filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
      <title>AsciiGram</title>
   </head>
   <body class="bg-black" style="margin: 0; border: 0; padding: 0">
      <div class="row" style="margin: 0; border: 0; padding: 0">
         <div class="col-2">
            <nav
               class="navbar navbar-dark navbar-nav"
               style="margin: 0; border: 0; padding: 0"
            >
               <div class="container-fluid">
                  <div class="row" style="margin-right: 0px">
                     <a
                        class="navbar-brand"
                        href="/"
                        style="
                           height: 10vh;
                           padding: 0;
                           border-right: 2px solid #1a1a1a;
                        "
                     >
                        <img
                           src="{{ url_for('static', filename='images/asgrfull.png') }}"
                           alt="Logo"
                           style="width: 15vh; margin-right: -20px"
                           class="m-3"
                        />
                     </a>
                     <nav
                        class="d-block"
                        style="
                           margin: 0;
                           border: 0;
                           padding: 0;
                           border-right: 2px solid #1a1a1a;
                           height: 90vh;
                        "
                     >
                        <div class="position-sticky mx-5">
                           <ul class="navbar-nav flex-column">
                              <li class="nav-item">
                                 <a
                                    class="nav-link"
                                    href="/"
                                    onmouseover="this.style.backgroundColor = '#1a1a1a';"
                                    onmouseout="this.style.backgroundColor='';"
                                 >
                                    <img
                                       src="{{ url_for('static',filename='images/home.svg') }}"
                                       alt="Home"
                                       style="width: 2vh; margin-right: -20px"
                                       class="m-2"
                                    />
                                    Accueil
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a
                                    class="nav-link"
                                    href="/login"
                                    onmouseover="this.style.backgroundColor = '#1a1a1a';"
                                    onmouseout="this.style.backgroundColor='';"
                                 >
                                    <img
                                       src="{{ url_for('static',filename='images/login.svg') }}"
                                       alt="Login"
                                       style="width: 2vh"
                                       class="m-2"
                                    />
                                    Connexion
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a
                                    class="nav-link"
                                    href="/inscription"
                                    onmouseover="this.style.backgroundColor = '#1a1a1a';"
                                    onmouseout="this.style.backgroundColor='';"
                                 >
                                    <img
                                       src="{{ url_for('static',filename='images/register.svg') }}"
                                       alt="Register"
                                       style="width: 2vh"
                                       class="m-2"
                                    />
                                    Inscription
                                 </a>
                              </li>
                              {% if session['pseudo'] %}
                              <li class="nav-item">
                                 <a
                                    class="nav-link active"
                                    href="/ajout"
                                    onmouseover="this.style.backgroundColor = '#1a1a1a';"
                                    onmouseout="this.style.backgroundColor='';"
                                 >
                                    <img
                                       src="{{ url_for('static',filename='images/new.svg') }}"
                                       alt="Upload"
                                       style="width: 2vh"
                                       class="m-2"
                                    />
                                    Nouvelle Publication
                                 </a>
                              </li>
                              {% endif %}
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </nav>
         </div>
         <div class="col-1"></div><div class="container align-items-start col-8 text-light text-center"
         style="
                margin-bottom: 25%;
                margin-top: 10%;
                border: 2px solid #cccccc;
                background-color: #1a1a1a;
                border-radius: 10px;
             "
 >
 <h1 class="card-header m-4">Nouvelle publication</h1>
</br>
<form method="POST" action="/action_post" class="card-body">
    <div class="form-group m-4">
      <label>Titre </label>
      <input
          type = "text"
          name="titre"
          class="form-control"
          placeholder="Titre de la Publication"
          style="width: 50%; margin: 0 auto"
          required
      />
    </div>
    <div class="form-group m-4">
      <label>Contenu du Post </label>
        <textarea
            cols=50
            rows=10
            name="contenu"
            class="form-control"
            placeholder="Contenu de la Publication ! Soyez Imaginatifs !"
            style="width: 90%; height: 90%; margin: 0 auto; resize: none;"
            required
        ></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block m-4">Publier</button>
</form>

      </div>
         <div class="col-1"></div>
      </div>
   </body>
</html>
